<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>apost_free</id>
<name>游客发布-投稿</name>
<url>http://www.yiwuku.com</url>
<note>通用投稿插件，方便游客为网站提交内容</note>
<description>独乐乐不如众乐乐，游客力量大，游客发布文章需后台审核</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>尔今</name>
  <email>erx@qq.com</email>
  <url>http://www.yiwuku.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.1</version>
<pubdate>2017-07-19</pubdate>
<modified>2018-01-30</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>